.Ulist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;

}


.Form {
    flex-basis: 200px;
    height: 240px;
    display: flex;
    border: 1px rgb(159, 74, 74) solid;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 10px purple solid;
    background-color: orange;
    color: purple;
    font-size: large;
    
}

.FormButton {
    height: 20px;
    background-color: purple;
    color: orange;
    justify-content: space-around;

    align-items: center;
    display: flex;
    padding: 20px;
    margin: 10px;
    width: 100px;
}