.BoxContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;

}


.Box1{
  display: flex;
  flex: 1;
  height: 500px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  border: 10px purple solid;
  background-color: orange;
  color: purple;
  list-style-type: none;
  flex-direction: column;
  
}

.Box2{
  display: flex;
  flex: 1;
  height: 500px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  border: 10px orange solid;
  background-color: purple;
  color: orange;
  list-style-type: none;
  flex-direction: column;
  
}

.img1 {
  border: 5px solid white;
  border-radius: 10%;
  margin: 20px;
}

.img2 {
  border: 5px solid black;
  border-radius: 10%;
  margin: 20px;
}
